*.rrd
coap.merkur2.xml
graphs
rrd-backup
router.atm-mcast.xml
router.atm-mgmt.xml
router.atm.xml
router.if1.xml
router.if2.xml
router.if3.xml
router.if4.xml
router.wlan.xml
weather.te838.json
weather.te838.week.json
weather.te838.sqlite
weather.te838.xml
weather.te838.extra.xml
weather.wien.zamg.rrd.xml
weather.wien-hw.zamg.rrd.xml
